docs/*
tmp/*
.vscode/*
.htaccess.phpupgrade.initial
.user.ini
.well-kwon/*
aula/*
aulavirtual/*
bat/error_log
blog/*
certificado/*
envios/*
flujo/*
gastos/*
inhouse/*
integrador/*
licencia.txt
new/*
neweee/*
php.ini
robots.txt